/* CSS Document */

.center {
	text-align: center;
}

body {
	font-size: 18px;
	background-image: url(../elements/background.png);
	font-family: Calibri;
}

.hidden {
	display: none;
}

.button {
	color: white;
    text-decoration: none;
    min-height: 4em;
    border-radius: 4em;
	padding: 1em;
	/* margin-top: 40px; */
    /* min-width: 14em; */
    background-color: transparent;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.125em;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
	box-shadow: inset 0 0 0 1px #F3CD58;
	max-width: 80%;
}

.button:hover {
	box-shadow: inset 0 0 0 1px #F3CD58;
    /* color: #47D3E5 !important; */
    text-decoration: none;
}

.metacontainer {
	width: auto;
	padding: 0;
	margin: auto;
	max-width: 1920px;
}

a {
	color: white;
	-webkit-transition: color .4s ease;
    -moz-transition: color .4s ease;
    -o-transition: color .4s ease;
    transition: color .4s ease;
}

a:hover, a:active, a:focus {
	text-decoration: none;
	color: #F9D358;
}

h1, h2 {
	color: #7C1200;
}

.fullwidth {
	width: 100%;
}

.container, .navbar-collapse {
	padding-right: 0;
}

.imgdeco {
	position: absolute;
}

#header {
	background-color: #7C1200;
	width: 100%;
	height: auto;
	position: relative;
}


#header .logo {
	width: 29%;
	position: relative;
	margin-top: 4%;
	margin-bottom: 4px;
	padding-left: 7%;
}

#header .fullwidth {
	width: 100%;	
}

#header .rightdecoration {
	right: 0px;
	bottom: 0px;
	height: 69%;
	position: absolute;
}

#header .navbar {
	position: relative;
	/* display: inline-flex; */
	bottom: 0px;
	padding: 10px 6.5%;
	min-height: inherit;
	margin-bottom: 0;
	background-color: transparent;
	border: none;
}

#header .navbar-default .navbar-nav>.open>a,
#header .navbar-default .navbar-nav>.open>a:focus,
#header .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

#header .navbar .nav > li .dropdown-menu {
	margin: 0;
}
/* 
#header .navbar .nav > li:hover .dropdown-menu {
	display: block;
} */

#header .nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}

#header .nav a {
	font-size: 18px;
	color: white;
	padding: 0.5em 0.5em;
}

#header .nav ul a {
	color: black;
}
/* 那个导航栏的下拉 你把白色改成标准红设置透明度50或者30 就行 */
/* 不要有描边 中间虚线或者实线间隔 字的颜色可以用我最后那个深红色 或者白色 移动时是黄色 */

#header .dropdown-menu {
	background-color: rgba(124, 18, 0, 0.7);
}

#header .dropdown-menu>li:last-of-type {
	border-bottom-style: none;
	padding-bottom: 5px;
}

#header .dropdown-menu>li>a {
	color: white;

}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color: rgba(124, 18, 0, 0.7);
}

#swiper {
	width: 100%;
	height: 456px;
	background-image: url(../elements/swiper/Palace1.jpg)
}

#myCarousel .carousel-indicators {
	right: 1em;
	margin-left: 0%;
	width: auto;
	margin-right: 30px;
	left: auto;
	/* bottom: 0; */
	top: 40%;
}

#myCarousel .carousel-indicators li {
	background-color: #9D2D0D;
	border-color: #9D2D0D;
}

#myCarousel .carousel-indicators li.active {
	background-color: white;
	border-color: white;
}

#myCarousel .item img {
	width: 100%;
}

#myCarousel .item.left {
	float: none;
}
#myCarousel .item.right {
	float: none;
}
#myCarousel a img {
	position: relative;
	top: 40%;
    width:  20% !important;
	height: 20% !important;
	margin: auto 15%;
}

#myCarousel .left {
	text-align: left;
}
#myCarousel .right {
	text-align: right;
}

#myCarousel .footercap {
	bottom: 0;
	width: 100%;
	position: absolute;
	color: white;
	padding-left: 3rem;
	background-color: rgba(11, 11, 11, 0.5);
}

#myCarousel .footercap h3 {
	margin: 1.5rem 0;
}

#main-container {
	/* background-image: url('../elements/keydates/ditu.png'); */
	
}
#welcome {
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

#welcome h2 {
	margin-bottom: 2rem;
}

.textpanel {
	float: left;
	width: 100%;
	padding: 0;
	margin-bottom: 50px;
	position: relative;
		/* font-size:  */
	/* min-height: 420px; */
	background-color: #7C1200;
	color: white;
}

.textpanel h4 {
	font-size: 14px;
	color: #B85612;
	margin-bottom: 20px;
}

.textpanel p {
	margin-bottom: 30px;
}

.titlebar {
	height: 43px;
	background-color: #7C1200;
	margin-bottom: 16px;
	color: white;
	line-height: 43px;
	overflow: hidden;

}

.left {
	float: left;
}
.right {
	float: right;
}
.titlebar .left {
	margin-left: 13px;
	font-size: 24px;
}

.titlebar .left img {
	height: 28px;
	margin-left: 13px;
}

.titlebar .right {
	font-size: 18px;
}

.titlebar .right img {
	margin: 0 13px;
	height: 25px;
}


#news {
	/* width: 33%; */
	padding-left: 7px;
	padding-right: 7px;
	/* margin-bottom: 50px; */
}


.newslist {
	display: grid;
}
.newslist dl {
    padding: 0.7rem 0;
	margin-bottom: 0;
	vertical-align: middle;
	/* width: 40%;   	temp */
}
.newslist dt {
	padding-left: 13px;
	font-weight: 100;
	float: left;
	width: 33%;
}
.newslist dd {
	/* white-space: nowrap;
    text-overflow: ellipsis;
	overflow: hidden; */
	float: left;
	width: 67%;
	padding-left: 12px;
	padding-right: 12px;
}

#submitpaper {
	/* width: 17%;	 */
	padding-left: 7px;
	padding-right: 7px;
	/* margin-bottom: 50px; */
}

#submitpaper p>span {
	font-size: 22px;
}
/* #submitpaper .textpanel{
	min-height: 300px;
	background-color: #7C1200;
	color: white;
	padding-left: 0;
	padding-right: 0;
} */

#keynotespeakers {
	width: 50%;
	min-height: 550px;
	margin-bottom: 50px;
}
.img-container{
	width: 100%;
	height: 0px;
	padding-bottom: 100%;
	overflow:hidden;
	margin: 0;
	position:relative;
}

.img-wrap img{
	position:absolute;
	width: 100%;
	height: 100%;
}

.speakerlist {
	display: -webkit-box;
	width: 100%;
}
.speaker {
	padding: 0 0.7rem;
	width: 33%;
}

.speaker img {
	width: 100%;
}

.speaker h2 {
	font-size: 18px;
	color: black;
}
.speaker h3 {
	font-size: 14px;
	color: #7C1200;
}
.speaker p {
	font-size: 14px;
}

.extrawidth {
	width: 120%;
}

#keydates {
	/* width: 66%; */
	padding-left: 7px;
	padding-right: 7px;
	/* margin-bottom: 50px; */
}

.keydates a.active {
	color: #F9D358;
	text-decoration: underline;
}

.keydates li{
	list-style-type: none;
	padding-bottom: 1.8rem;
}

.keydates dl {
	margin-bottom: 0;
	margin-right: 50px;
	padding-bottom: 1.5rem;
}
.keydates dl>dt {
	color: white;
	font-weight: 100;
	padding-left: 1rem;
	padding-bottom: 0.2rem;
}
.keydates dl>dd {
	color: #B85612;
	padding-left: 1rem;
}

#sponsors {
	margin-bottom: 40px;
}

#sponsors .all-sponsors {
	align-items: center;
	background-image: url(../elements/keydates/ditu.png);
	background-size: contain;
	float: none;
	padding-top: 0.4%;
	padding-bottom: 150px;
}

#sponsors .all-sponsors>.row {
	margin: auto 0.3%;
}
.sponsor-item {
	width: 10%;
	padding: 0.4% 0.3%;
	float: left;
}

#footer {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

#footer .part1 {
	width: 100%;
	height: auto;
	background-color: #7C1200;
	padding: 2rem 0;
	color: rgb(71, 8, 0);
	display: flex;
	vertical-align: middle;
}


#footer .part1 h2 {
	font-size: 60px;
	margin: 0 auto;
	line-height: 60px;
	/* top: 60px; */
	position: relative;
}
#footer .part1 a {
	color: rgb(71, 8, 0);
}
#footer .part a:hover {
	color: white;
}
#footer .part1 .part.mid {
	padding-left: 5%;
	align-items: center;
	line-height: 40px;
	font-size: 18px;
	width: 64%;
}
#footer .part1 .part.mid a {
	width: 10%;
}

#footer .part1 .part.left {
	padding-left: 3%;
	/* width: 18%; */
}
#footer .part1 .part.right {
	display: flex;
	vertical-align: middle;
	width: 18%;
	/* top: 50px; */
	position: relative;
}

#footer i {
	font-size: 3.5rem;
	padding: 6px 24px;
}
#footer .part2 {
	height: auto;
	background-size: cover;
	vertical-align: middle;
}
#footer .part2 p {
	margin: 0;
	line-height: 60px;
	text-align: center;
	font-size: 13px;
	color: rgb(147, 147, 147);
}


.title h1 {
	font-size: 40px;
}
.title h1, .title h2 {
	color: black;
	margin-top: 10px;
}
.subtitle {
	float: left;
	background-color: #7C1200;
	font-size: 25px;
    padding: 5px 25px;
}
.subtitle li {
	color: #F3CD58;
	text-align: left;
}
.subtitle span {
	color: white;
}
.textcontent {
	float: left;
	text-align: left;
	margin-bottom: 40px;
}
.textcontent p {
}
.list-item li{
	font-weight: bold;
	color: #7C1200;
}
.list-item {
	font-size: 18px;
	margin-top: 20px;
}
.list-item span {
	font-size: 16px;
	color: #3D3D3D;
	font-weight: normal;
}
.list-item a {
	color: #7C1200;
	font-weight: bolder;
}


/* iPad display settings */
@media screen and (max-width: 1199px){
	.titlebar .left {
		font-size: 18px;
	}
	#footer .part1 h2 {
		font-size: 38px;
	}
	#footer i {
		font-size: 2.4rem;
		padding: 6px 20px;
	}
}

/* iPad display (vertical) settings */
@media screen and (max-width:991px){
	.textpanel {
		padding-right: 15px;
	}
	#footer .part1 {
		height: auto;
		display: grid;
	}
	#footer .part1 h2 {
		top: auto;
		font-size: 30px;
	}
	#footer .part1 .part.right{
		/* display: none; */
		/* padding-bottom: 20%; */
		width: auto;
		margin: 10px 30px;
	}
}


/* Mobile display (except iPad) settings */
@media screen and (max-width:767px){
	.extra {
		display: none;
	}
	.textpanel {
		padding-right: 0;
		min-height: 420px;
	}
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-collapse {
		margin-right: 15px;
		margin-left: 15px;
	}
	.navbar-nav {
		margin: 7.5px 0;
	}
	#header .logo {
		width: 60%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#header .rightdecoration {
		right: 0px;
		bottom: 0px;
		height: auto;
		max-width: 70%;
		position: absolute;
	}
	#header .dropdown-menu {
		background-color: transparent;
		padding-left: 20px;
	}
	#myCarousel .footercap h3 {
		margin: 12px auto;
		font-size: 12px;
	}
	#myCarousel .carousel-indicators {
		display: none;
	}
	
	#keydates dl {
		margin-right: 0;
	}
	
	#footer .part1 .part.right{
		/* display: none; */
		/* padding-bottom: 20%; */
		width: auto;
		margin: 10px 30px;
	}
}
@media screen and (max-width:450px){
	.titlebar>.left>img{
		height: 14px;
	}
}