
  /*--//about--*/
  .test-review h5{
	  font-size: 1.2em;
	  color: #333;
	  text-transform: none;
	  margin-top: 1.2em;
	  text-align: center;
  }
  .test-review img{
		border-radius: 50%;
	  -webkit-border-radius: 50%;
	  -mox-border-radius: 50%;
	  -o-border-radius: 50%;
	  -ms-border-radius: 50%;
		  box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
	  -webkit-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
	  -moz-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
	  -o-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
	  -ms-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);    
	  width: 80%;
	  border:none;
		  border-right: 6px solid #1BAFA7;
	  
  }
  .test-review p img {
	  margin: 0 10px!important;
	  box-shadow:none;
  }
  .test-review img {
	  margin: 0 auto;
  }
  .banner-bottom {
	  padding: 6em 0 5em 0;
	  background: #eaedf2;
  }