
body {
    z-index: 10;
}

.pagetitle {
    padding-top: 200px;
    padding-bottom: 50px;
}

/* ==========================================================================
   Header
   ========================================================================== */

.menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 8999;
    /* background-color: rgba(69, 222, 233, 0.418); */
    display: table;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s ease-out, visibility 0.2s ease-out;
       -moz-transition: opacity 0.3s ease-out, visibility 0.2s ease-out;
         -o-transition: opacity 0.3s ease-out, visibility 0.2s ease-out;
            transition: opacity 0.3s ease-out, visibility 0.2s ease-out;
    overflow: hidden;
}

.visuallyhidden {
    opacity: 0;
    visibility: hidden;
}

.menu ul {
    width: 100%;
    /*height: 100%;*/
    text-align: left;
    padding-top: 30px;
    list-style-type: none;
}
.menu ul li {
    max-height: 1%;
}
.menu ul li a {
    display: block;
    color: #000;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    /* font-size: 2.25rem; */
    font-size: auto;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 18px 0 18px 45px;

    -webkit-transition: background 0.2s ease, color 0.2s ease;
       -moz-transition: background 0.2s ease, color 0.2s ease;
         -o-transition: background 0.2s ease, color 0.2s ease;
            transition: background 0.2s ease, color 0.2s ease;
}

.menu ul li a:hover {
    color: #F10061;
    background-color: #fff;
    text-decoration: none;
}

.menu .backgroundimage {
    top: inherit;
    opacity: 1;
}


.navbar a {
    font-size: 12px;   
}

.center {
    text-align: center;
}

/* background image */
.backgroundimage {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    opacity: 0.5;
    z-index: -1;
    background-attachment:fixed;
    background-size: cover;
}

/* .backgroundimage img {
    width: 100%;
    height: inherit;
    position: fixed;
} */

/* logo img */
.logo {
    z-index: 20;
    padding-top: 80px;
    padding-left: 20px;
    position: absolute;
}
.logo img {
    max-height: 130px;
    float: left;
}
.logo h1,h2 {
    text-align: left;
    padding-left: 150px;
    /* font-weight: 900; */
}

.sectiontitle {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0%;
}

.sectionpanel {
    background-color: rgba(255, 255, 255, 0.4)
}

.sectioncontent {
    margin-left: 110px;
}

.imagepanel {
    justify-content: center;
    align-items: center;
    display: flex;  /* important */
}
.hoveredimage {
    max-height: 250px;
    max-width: 250px;
    cursor: pointer;
    margin-bottom: 24px;
    position: relative;
    cursor: default;
    overflow: hidden;
    margin-left: 50px;
    display: inline-block;
}

.hoveredimage img {
    width: auto;
    max-width: 250px;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    /* vertical-align: middle; */
}

.imagehover {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;    
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0;
    visibility: hidden;
    text-align: center;

    -webkit-transition: opacity 0.3s ease-out, visibility 0.2s ease-out;
       -moz-transition: opacity 0.3s ease-out, visibility 0.2s ease-out;
         -o-transition: opacity 0.3s ease-out, visibility 0.2s ease-out;
            transition: opacity 0.3s ease-out, visibility 0.2s ease-out;
}

.imagehover.visuallyshowed {
    opacity: 1;
    visibility: visible;
}

.imagehover h4 {
    margin-top: 40%;
    font-weight: 400;
}

.date dl:hover {
    background-color: aliceblue;
}
.date dl dt {
    color: #777777;
    font-size: 20px;
    font-weight: 900;
}

.weight-900 {
    font-weight: 900;
}

.organizingcommittee {
    text-align: center;
    padding-bottom: 60px;
}
.organizingcommittee h1,h2 {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
}
.organizingcommittee .img-responsive {
    max-width: 166px;
}

.test-review h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}
.test-review h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 0px;

}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px!important;
  }
  .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
      font-size:16px;
      color: #555;
      font-family: 'Open Sans', sans-serif;
  }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
    font-size: 18px;
    color: #555;
    font-family: 'Open Sans', sans-serif;
  }

  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none !important;
  }
  li.list-group-item1 {
      line-height: 2em;
      font-size:0.9em;
      color: #555;
  }